In [1]:
import pandas as pd
import numpy as np

In [2]:
#Cargo mi archivo Inmubles.csv
df = pd.read_csv('Inmuebles.csv')
#df.info()
df

,Referencia,Fecha Alta,Tipo,Operación,Provincia,Superficie,Precio Venta,Fecha Venta,Vendedor,Unnamed: 9,...,Unnamed: 246,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255
0,1,01/01/04,Parking,Alquiler,Lleida,291,2133903,19/06/04,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,01/01/04,Local,Venta,Girona,199,1945424,19/04/04,Pedro,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,01/01/04,Oficina,Alquiler,Girona,82,712416,08/11/04,Joaquín,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,02/01/04,Parking,Alquiler,Girona,285,1815450,27/04/04,Jesús,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,02/01/04,Suelo,Venta,Tarragona,152,1138024,10/07/04,María,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3332,3333,29/04/07,Industrial,Alquiler,Lleida,221,1450644,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3333,3334,29/04/07,Piso,Alquiler,Girona,55,454080,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3334,3335,30/04/07,Suelo,Venta,Tarragona,78,740688,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3335,3336,30/04/07,Piso,Alquiler,Barcelona,88,397408,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3336,3337,30/04/07,Parking,Venta,Lleida,254,2140712,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
#FILTROS BASICOS PARA VARIABLES CUALITATIVAS
#Filtro por objeto 
filtro1=df[df["Operación"] == "Venta"]
filtro1

,Referencia,Fecha Alta,Tipo,Operación,Provincia,Superficie,Precio Venta,Fecha Venta,Vendedor,Unnamed: 9,...,Unnamed: 246,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255
1,2,01/01/04,Local,Venta,Girona,199,1945424,19/04/04,Pedro,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,02/01/04,Suelo,Venta,Tarragona,152,1138024,10/07/04,María,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8,03/01/04,Oficina,Venta,Girona,235,2158475,31/10/04,Jesús,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10,04/01/04,Parking,Venta,Lleida,299,2042768,06/10/04,Joaquín,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12,04/01/04,Industrial,Venta,Girona,187,999328,05/04/04,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3329,3330,27/04/07,Parking,Venta,Barcelona,88,612568,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3330,3331,27/04/07,Local,Venta,Girona,110,845790,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3331,3332,29/04/07,Oficina,Venta,Lleida,190,1031320,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3334,3335,30/04/07,Suelo,Venta,Tarragona,78,740688,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3336,3337,30/04/07,Parking,Venta,Lleida,254,2140712,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#Convertir archivo filtrado a CSV
filtro1.to_csv("FiltroPorObjeto.csv")

In [5]:
#Filtro por filas
#filtro2= df.iloc[300:302,: ]
filtro2=df.iloc[ [100, 200, 300, 400, 500, 600, 700, 800, 900, 1000] , : ]  #filas no consecutivas 
filtro2

,Referencia,Fecha Alta,Tipo,Operación,Provincia,Superficie,Precio Venta,Fecha Venta,Vendedor,Unnamed: 9,...,Unnamed: 246,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255
100,101,08/02/04,Suelo,Alquiler,Girona,162,710694,27/09/04,María,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200,201,22/03/04,Parking,Venta,Girona,247,1050985,09/11/04,Pedro,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
300,301,24/04/04,Casa,Alquiler,Tarragona,178,1458176,12/02/05,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
400,401,02/06/04,Piso,Alquiler,Barcelona,271,2682900,02/06/05,Pedro,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
500,501,05/07/04,Casa,Venta,Lleida,229,965006,02/02/05,Pedro,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
600,601,08/08/04,Casa,Alquiler,Girona,147,919632,23/06/05,Luisa,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
700,701,06/09/04,Casa,Venta,Girona,225,2023200,27/12/04,Joaquín,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
800,801,13/10/04,Local,Alquiler,Tarragona,159,1323198,26/08/05,Jesús,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
900,901,16/11/04,Parking,Alquiler,Girona,294,1653456,18/07/05,Pedro,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000,1001,25/12/04,Local,Venta,Barcelona,250,1368750,07/06/05,Luisa,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#Convertir archivo filtrado a CSV
filtro2.to_csv("FiltroFilasNoConsecutivas.csv")

In [9]:
#Filtro por columnas
filtro3=df.iloc[ : , 6:9]
#filtro3=df.iloc[ : , [1,4,6]]  #columnas no consecutivas 
filtro3

      Precio Venta Fecha Venta Vendedor
0          2133903    19/06/04   Carmen
1          1945424    19/04/04    Pedro
2           712416    08/11/04  Joaquín
3          1815450    27/04/04    Jesús
4          1138024    10/07/04    María
...            ...         ...      ...
3332       1450644         NaN      NaN
3333        454080         NaN      NaN
3334        740688         NaN      NaN
3335        397408         NaN      NaN
3336       2140712         NaN      NaN

[3337 rows x 3 columns]

In [10]:
#Convertir archivo filtrado a CSV
filtro3.to_csv("FiltroColumnasConsecutivas.csv")

In [13]:
#Filtro de filas vs columnas 
filtro4=df.loc[["Lleida","Girona"], ["Vendedor"]]
filtro4

KeyError: "None of [Index(['Lleida', 'Girona'], dtype='object')] are in the [index]"

In [15]:
#Filtro por cabecera
filtro5=df.head()
filtro5

,Referencia,Fecha Alta,Tipo,Operación,Provincia,Superficie,Precio Venta,Fecha Venta,Vendedor,Unnamed: 9,...,Unnamed: 246,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255
0,1,01/01/04,Parking,Alquiler,Lleida,291,2133903,19/06/04,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,01/01/04,Local,Venta,Girona,199,1945424,19/04/04,Pedro,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,01/01/04,Oficina,Alquiler,Girona,82,712416,08/11/04,Joaquín,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,02/01/04,Parking,Alquiler,Girona,285,1815450,27/04/04,Jesús,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,02/01/04,Suelo,Venta,Tarragona,152,1138024,10/07/04,María,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
#Convertir archivo filtrado a CSV
filtro5.to_csv("FiltroPorCabecera.csv")

In [17]:
#FILTROS BASICOS PARA VARIABLES CUANTITATIVAS
#Filtro por comparacion
filtro6=df[df["Precio Venta"] > 2000000]
filtro6

,Referencia,Fecha Alta,Tipo,Operación,Provincia,Superficie,Precio Venta,Fecha Venta,Vendedor,Unnamed: 9,...,Unnamed: 246,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255
0,1,01/01/04,Parking,Alquiler,Lleida,291,2133903,19/06/04,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8,03/01/04,Oficina,Venta,Girona,235,2158475,31/10/04,Jesús,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10,04/01/04,Parking,Venta,Lleida,299,2042768,06/10/04,Joaquín,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13,04/01/04,Parking,Venta,Barcelona,300,2937300,04/11/04,Jesús,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,21,09/01/04,Industrial,Venta,Barcelona,228,2020992,12/06/04,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3311,3312,17/04/07,Industrial,Alquiler,Tarragona,277,2129576,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3322,3323,23/04/07,Piso,Venta,Barcelona,283,2686236,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3325,3326,25/04/07,Industrial,Alquiler,Barcelona,296,2078216,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3328,3329,26/04/07,Piso,Venta,Barcelona,264,2517504,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3336,3337,30/04/07,Parking,Venta,Lleida,254,2140712,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
#Convertir archivo filtrado a CSV
filtro6.to_csv("FiltroPorComparación.csv")

In [19]:
#FILTROS BASICOS CON CONETORES LOGICOS
#Filtro Y
filtro7=df[(df["Precio Venta"] > 250000) & (df["Operación"] == "Venta")]
filtro7

,Referencia,Fecha Alta,Tipo,Operación,Provincia,Superficie,Precio Venta,Fecha Venta,Vendedor,Unnamed: 9,...,Unnamed: 246,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255
1,2,01/01/04,Local,Venta,Girona,199,1945424,19/04/04,Pedro,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,02/01/04,Suelo,Venta,Tarragona,152,1138024,10/07/04,María,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8,03/01/04,Oficina,Venta,Girona,235,2158475,31/10/04,Jesús,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10,04/01/04,Parking,Venta,Lleida,299,2042768,06/10/04,Joaquín,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12,04/01/04,Industrial,Venta,Girona,187,999328,05/04/04,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3329,3330,27/04/07,Parking,Venta,Barcelona,88,612568,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3330,3331,27/04/07,Local,Venta,Girona,110,845790,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3331,3332,29/04/07,Oficina,Venta,Lleida,190,1031320,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3334,3335,30/04/07,Suelo,Venta,Tarragona,78,740688,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3336,3337,30/04/07,Parking,Venta,Lleida,254,2140712,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
#Convertir archivo filtrado a CSV
filtro7.to_csv("FiltroConectorBasico.csv")

In [21]:
#Filtro o
filtro8=df[(df["Precio Venta"] > 250000) | (df["Operación"] == "Venta")]
filtro8

,Referencia,Fecha Alta,Tipo,Operación,Provincia,Superficie,Precio Venta,Fecha Venta,Vendedor,Unnamed: 9,...,Unnamed: 246,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255
0,1,01/01/04,Parking,Alquiler,Lleida,291,2133903,19/06/04,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,01/01/04,Local,Venta,Girona,199,1945424,19/04/04,Pedro,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,01/01/04,Oficina,Alquiler,Girona,82,712416,08/11/04,Joaquín,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,02/01/04,Parking,Alquiler,Girona,285,1815450,27/04/04,Jesús,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,02/01/04,Suelo,Venta,Tarragona,152,1138024,10/07/04,María,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3332,3333,29/04/07,Industrial,Alquiler,Lleida,221,1450644,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3333,3334,29/04/07,Piso,Alquiler,Girona,55,454080,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3334,3335,30/04/07,Suelo,Venta,Tarragona,78,740688,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3335,3336,30/04/07,Piso,Alquiler,Barcelona,88,397408,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3336,3337,30/04/07,Parking,Venta,Lleida,254,2140712,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
#Convertir archivo filtrado a CSV
filtro8.to_csv("Filtro_O.csv")

In [30]:
#Filtro not
filtro9=df[~(df["Precio Venta"] >= 500000) & (df["Vendedor"] == "Carmen")]
filtro9

,Referencia,Fecha Alta,Tipo,Operación,Provincia,Superficie,Precio Venta,Fecha Venta,Vendedor,Unnamed: 9,...,Unnamed: 246,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255
83,84,02/02/04,Piso,Venta,Barcelona,94,470940,28/07/04,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114,115,14/02/04,Industrial,Venta,Tarragona,54,438750,15/08/04,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130,131,21/02/04,Local,Venta,Lleida,55,477345,04/09/04,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174,175,10/03/04,Local,Venta,Barcelona,52,416936,25/08/04,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190,191,18/03/04,Suelo,Alquiler,Tarragona,71,431325,23/07/04,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
194,195,19/03/04,Piso,Venta,Girona,62,250852,21/07/04,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211,212,25/03/04,Casa,Alquiler,Barcelona,63,492156,25/10/04,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
217,218,29/03/04,Suelo,Alquiler,Tarragona,65,461435,31/12/04,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
337,338,08/05/04,Oficina,Alquiler,Barcelona,41,361661,28/01/05,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
362,363,18/05/04,Suelo,Alquiler,Girona,68,378624,30/03/05,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
367,368,18/05/04,Casa,Venta,Girona,80,354320,18/10/04,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
414,415,06/06/04,Parking,Venta,Barcelona,46,386584,17/12/04,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
427,428,10/06/04,Piso,Alquiler,Lleida,52,338364,04/01/05,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
514,515,08/07/04,Oficina,Alquiler,Barcelona,47,262777,22/12/04,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
573,574,28/07/04,Local,Alquiler,Lleida,58,251430,30/05/05,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
619,620,14/08/04,Suelo,Alquiler,Barcelona,58,406290,04/07/05,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
675,676,29/08/04,Casa,Venta,Girona,47,311563,27/12/04,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
760,761,26/09/04,Local,Venta,Girona,50,411700,05/01/05,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
809,810,15/10/04,Industrial,Venta,Barcelona,51,334305,25/09/05,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
928,929,27/11/04,Local,Alquiler,Tarragona,73,410260,29/10/05,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
946,947,04/12/04,Suelo,Venta,Lleida,103,474624,25/03/05,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
950,951,06/12/04,Oficina,Venta,Barcelona,65,307255,11/10/05,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1037,1038,08/01/05,Piso,Alquiler,Girona,59,325326,09/04/05,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1055,1056,15/01/05,Suelo,Alquiler,Girona,45,300105,02/06/05,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1129,1130,15/02/05,Casa,Alquiler,Barcelona,58,444338,04/06/05,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1134,1135,16/02/05,Casa,Alquiler,Tarragona,58,349102,22/10/05,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1148,1149,18/02/05,Oficina,Alquiler,Lleida,61,481656,18/09/05,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1200,1201,07/03/05,Suelo,Venta,Tarragona,54,298350,14/06/05,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1208,1209,08/03/05,Piso,Alquiler,Girona,91,395850,10/12/05,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1242,1243,20/03/05,Industrial,Alquiler,Girona,52,269516,21/08/05,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1254,1255,24/03/05,Casa,Venta,Girona,40,354360,16/10/05,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1299,1300,09/04/05,Suelo,Venta,Barcelona,71,309702,09/08/05,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1322,1323,19/04/05,Piso,Alquiler,Lleida,84,431760,09/04/06,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1332,1333,21/04/05,Industrial,Venta,Tarragona,42,287952,01/01/06,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1337,1338,24/04/05,Oficina,Venta,Girona,40,163920,09/04/06,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1345,1346,25/04/05,Local,Alquiler,Barcelona,50,333650,16/12/05,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1392,1393,09/05/05,Oficina,Venta,Tarragona,44,305756,02/11/05,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1521,1522,29/06/05,Suelo,Venta,Barcelona,40,306120,24/11/05,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1624,1625,05/08/05,Oficina,Alquiler,Lleida,73,328646,01/02/06,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1649,1650,14/08/05,Casa,Alquiler,Tarragona,57,293037,27/11/05,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1740,1741,16/09/05,Oficina,Venta,Tarragona,79,441373,02/02/06,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1753,1754,21/09/05,Piso,Venta,Lleida,55,433235,23/03/06,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1809,1810,11/10/05,Industrial,Venta,Barcelona,64,480384,15/05/06,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1918,1919,23/11/05,Oficina,Alquiler,Tarragona,44,363968,02/09/06,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1934,1935,28/11/05,Industrial,Alquiler,Tarragona,80,405280,29/03/06,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2026,2027,03/01/06,Industrial,Venta,Girona,41,368959,29/08/06,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2119,2120,30/01/06,Oficina,Alquiler,Girona,75,378900,16/12/06,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2140,2141,06/02/06,Industrial,Alquiler,Lleida,65,272545,23/06/06,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2195,2196,22/02/06,Oficina,Alquiler,Barcelona,64,319616,06/07/06,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2249,2250,14/03/06,Industrial,Alquiler,Barcelona,63,343602,16/10/06,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2349,2350,22/04/06,Oficina,Venta,Lleida,62,433008,20/10/06,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2538,2539,30/06/06,Piso,Alquiler,Girona,68,396780,10/02/07,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2568,2569,10/07/06,Local,Alquiler,Girona,50,390400,15/01/07,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2674,2675,23/08/06,Piso,Venta,Barcelona,41,219145,21/12/06,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2713,2714,07/09/06,Industrial,Alquiler,Girona,53,478431,28/01/07,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2760,2761,26/09/06,Suelo,Alquiler,Tarragona,77,375067,10/01/07,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2854,2855,02/11/06,Oficina,Alquiler,Lleida,47,400816,28/03/07,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2886,2887,10/11/06,Local,Alquiler,Girona,61,265289,17/02/07,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN