In [1]:
import pandas as pd
import numpy as np

In [2]:
#Cargo mi archivo Inmubles.csv
df = pd.read_csv('Inmuebles.csv')
#df.info()
df

,Referencia,Fecha Alta,Tipo,Operación,Provincia,Superficie,Precio Venta,Fecha Venta,Vendedor,Unnamed: 9,...,Unnamed: 246,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255
0,1,01/01/04,Parking,Alquiler,Lleida,291,2133903,19/06/04,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,01/01/04,Local,Venta,Girona,199,1945424,19/04/04,Pedro,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,01/01/04,Oficina,Alquiler,Girona,82,712416,08/11/04,Joaquín,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,02/01/04,Parking,Alquiler,Girona,285,1815450,27/04/04,Jesús,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,02/01/04,Suelo,Venta,Tarragona,152,1138024,10/07/04,María,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3332,3333,29/04/07,Industrial,Alquiler,Lleida,221,1450644,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3333,3334,29/04/07,Piso,Alquiler,Girona,55,454080,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3334,3335,30/04/07,Suelo,Venta,Tarragona,78,740688,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3335,3336,30/04/07,Piso,Alquiler,Barcelona,88,397408,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3336,3337,30/04/07,Parking,Venta,Lleida,254,2140712,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
#FILTROS BASICOS PARA VARIABLES CUALITATIVAS
#Filtro por objeto 
filtro1=df[df["Operación"] == "Venta"]
filtro1

,Referencia,Fecha Alta,Tipo,Operación,Provincia,Superficie,Precio Venta,Fecha Venta,Vendedor,Unnamed: 9,...,Unnamed: 246,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255
1,2,01/01/04,Local,Venta,Girona,199,1945424,19/04/04,Pedro,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,02/01/04,Suelo,Venta,Tarragona,152,1138024,10/07/04,María,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8,03/01/04,Oficina,Venta,Girona,235,2158475,31/10/04,Jesús,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10,04/01/04,Parking,Venta,Lleida,299,2042768,06/10/04,Joaquín,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12,04/01/04,Industrial,Venta,Girona,187,999328,05/04/04,Carmen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3329,3330,27/04/07,Parking,Venta,Barcelona,88,612568,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3330,3331,27/04/07,Local,Venta,Girona,110,845790,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3331,3332,29/04/07,Oficina,Venta,Lleida,190,1031320,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3334,3335,30/04/07,Suelo,Venta,Tarragona,78,740688,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3336,3337,30/04/07,Parking,Venta,Lleida,254,2140712,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN